*, *::after, *::before{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-position: center;
    text-align: center;
    background-color: #ecf5ff;
}

button{
    border: black;
    border-style: solid;  
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
    padding: 0.3em;
    margin: 0.2em;
    border-radius: 0.5rem;
}
#highScoresList {
    text-decoration: none;
    list-style: none;
    border: green;
    border-style: solid;
    border-radius: 0.5rem;
}
li{
    text-decoration: none;
}



.font-standard{
    font-size: 1.4rem;
}
.center{

}
.main-container{   
    justify-content: center;
}
.game-control{
    padding: 0.4em;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
